.App {
  background-color: #5ca0f2;
  background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
  display:          grid;
  height:           100vh;
  left:             0;
  position:         fixed;
  top:              0;
  width:            100%;

  .Guide {
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    position: absolute;

    .TimeBox {
      color:    #000;
      height:     fit-content;
      margin-top: 25%;
      padding:    10px;

      .MainTime {
        display:         flex;
        font-size:       10rem;
        justify-content: center;
      }

      div {
        font-size: 4.2rem;
      }
    }
  }

  .BaseIcon {
    align-items:       center;
    background-size:   cover;
    background-repeat: no-repeat;
    display:           flex;
    height:            200px;
    justify-content:   center;
    position:          absolute;
    width:             200px;
    z-index:           10;

    span {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:   24px;
    }
  }

  .Clear {
    background-image:  url('./assets/clear.png');
  }

  .Clouds {
    background-image: url('./assets/cloudy.png');
  }

  .Thunderstorm {
    background-image: url('./assets/thunderstorm.jpeg');
  }

  .Drizzle {
    background-image: url('./assets/drizzle.png');
  }
}

