.App {
  background-image: url('./assets/blue_sky_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  height: 100vh;

  .Guide {
    background-color: #ffffff9a;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    position: absolute;

    .TimeBox {
      background: #000;
      color:    #fff;
      font-size: 72px;
      height: fit-content;
      margin-top: 30%;
      padding: 10px;
    }
  }

  .Circle {
    align-items: center;
    display:  flex;
    height:   200px;
    justify-content: center;
    position: absolute;
    width:    200px;
    z-index:  10;

    span {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:   24px;
    }
  }

  .Sunny {
    background-image: url('./assets/sunny.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

