body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Sunny {
  background-image: url('./assets/sunny.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.Start {
    animation: x 15s linear infinite,
    y 15s infinite cubic-bezier(0, 3000, 1, 3000);
}

@keyframes x {
  to {
    left: 75%;
  }
}

@keyframes y {
  to {
    top: 1199.5px;
  }
}