.BaseIcon {
    align-items:       center;
    background-size:   cover;
    background-repeat: no-repeat;
    display:           flex;
    height:            200px;
    justify-content:   center;
    position:          absolute;
    width:             200px;
    visibility:        hidden;
    z-index:           10;

    span {
        font-size: 24px;
    }
}

.Clear {
    background-image:  url('./assets/Sunny.svg');
}

.Clouds {
    background-image: url('./assets/Cloudy.svg');

    span {
        margin-top: 55px;
    }
}

.Thunderstorm {
    background-image: url('./assets/Thunderstorm.svg');

    span {
        margin-bottom: 35px;
    }
}

.Drizzle {
    background-image: url('./assets/Drizzle.svg');

    span { 
        margin-bottom: 35px; 
    }
}

.Rain {
    background-image: url('./assets/Rain.svg');

    span {
        margin-bottom: 35px;
    }
}

.LightSnow{
    background-image: url('./assets/LightSnow.svg');

    span {
        margin-bottom: 25px;
    }
}

.Snow {
    background-image: url('./assets/Snow.svg');

    span {
        margin-bottom: 25px;
    }
}

.Fog {
    background-image: url('./assets/Fog.svg');

    span {
        margin-bottom: 25px;
    }
}

.Tornado {
    background-image: url('./assets/Tornado.svg');

    span {
        margin-bottom: 35px;
    }
}

.Windy {
    background-image: url('./assets/Windy.svg');

    span {
        margin-bottom: 8px;
        margin-right:  36px;
    }
}

.Default {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border:           1px solid #000;
    border-radius:    50%;
}
